name: CI Dashboard Proyecto

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  backend:
    runs-on: ubuntu-latest

    steps:
      - name: Clonar repositorio
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Instalar dependencias
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Ejecutar migraciones
        run: |
          python manage.py migrate

      - name: Ejecutar tests Django
        run: |
          python manage.py test

  frontend:
    runs-on: ubuntu-latest
    needs: backend

    steps:
      - name: Clonar repositorio
        uses: actions/checkout@v4

      - name: Configurar Node
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Instalar dependencias React
        run: |
          cd frontend
          npm install

      - name: Build React
        run: |
          cd frontend
          npm run build
